*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}
.black-document{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content:center;
    align-items: center ;
    background-color: rgb(32, 32, 32);
    position: relative;
}
.three-dot{
    font-size: 40px;
    position: absolute;
    top: 3%;
    left: 45%;
    cursor: pointer;
}
.container{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: orange;
}
.cut{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}
.nav ul {
    text-align: center;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}
